@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

* {
  margin: 0;
  padding: 0;
}
body {
  width: 1200px;
  height: auto;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
.navber ul {
  list-style-type: none;
  text-align: right;
  margin-right: 20px;
}
.navber li {
  display: inline-block;
}
.navber a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px 20px;
}
.flex_item {
  display: flex;
}
.half_width {
  width: 40%;
  margin-left: 5%;
}
.half_width img {
  width: 100%;
  margin-top: -30px;
}
.childe_div {
  margin-top: 80px;
}
.title_text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
}
.orang_text {
  color: #ff8367;
}
.childe_div p {
  margin: 20px 0;
}
.btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  color: white;
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 3px;
  box-shadow: 0px 0px 12px #c9b6b6;
  text-transform: capitalize;
}
.project_section {
  text-align: center;
  margin-top: 156px;
}
.project_list {
  margin-top: 60px;
  width: 340px;
  height: 340px;
  /* border: 1px solid; */
  justify-content: center;
  box-shadow: 0 0 18px -4px grey;
  padding: 10px;
  border-radius: 15px;
}
.project_list img {
  width: 95%;
  margin: 2%;
  box-shadow: 0 0 5px gray;
  border-radius: 15px;
}
.project_list p {
  margin-top: 20px;
  text-align: justify;
}
.project_list h2 {
  font-weight: bold;
}
.all_division {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.banner {
  margin: 200px auto 50px;
  width: 850px;
  height: 210px;
  font-family: "Roboto Condensed", sans-serif;
  background-image: url(shapes/Group_33094_1.png);
  background-size: cover;
}
.banner h2 {
  color: white;
  font-size: 60px;
  float: left;
  margin: 69px 59px;
}
.banner a {
  float: right;
  margin-right: 58px;
  margin-top: 90px;
  font-size: 18px;
}
.foot_section {
  text-align: center;
  margin-bottom: 77px;
}
.foot_section h2 {
  color: #696871;
  font-size: 22px;
  margin-bottom: 9px;
}
.foot_section a {
  text-decoration: none;
  color: #44434c;
  font-size: 34px;
  font-family: cursive;
  font-weight: 600;
}
.social img {
  width: 40px;
  margin-left: 20px;
  margin-top: 6px; /* display: block; */
}
